doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/vendor/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-default
			.container-fluid
				ul.navbar.border
					if navList
						each item in navList
							li
								a(href=item.link) #{item.title}
					if (!user)
						li
							a(href='/login') Login
						li
							a(href='/register') Register
					if (user)
						li
							a Welcome #{user.name}
						li
							a(href='/logout') Logout


		.container
			.content
				block content
		script(src='/vendor/jquery.js')
		script(src='/vendor/bootstrap.js')
