extends layout

block content
	h1 User Profile
	dl
		dt User Name:&nbsp;&nbsp;
		dd #{user.username}
		if (user.email)
			dt Email:&nbsp;&nbsp;
			dd #{user.email}
		if (user.avatar)
			dt Avatar:&nbsp;&nbsp;
			dd
				img(src=user.avatar)
